<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="MemberDTO"
			type="spring.project.interpark.member.dto.MemberDTO" />
		<typeAlias alias="AddressDTO"
			type="spring.project.interpark.address.dto.AddressDTO" />
		<typeAlias alias="ProductDTO"
			type="spring.project.interpark.product.dto.ProductDTO" />
		<typeAlias alias="CartDTO"
			type="spring.project.interpark.cart.dto.CartDTO" />
		<typeAlias alias="Criteria"
			type="spring.project.interpark.page.Criteria" />
	</typeAliases>
</configuration>